body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-family: 'PT Sans', sans-serif;
text-decoration: none;
}
a { color: inherit;
}
*{
  box-sizing: border-box;
}
.menubar{
  /* position: fixed;
  top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  background: white;
  /* border-bottom: solid 1px #aaa; */
  box-shadow: 0 2px 5px 4px rgba(0, 0, 0, .1);


}
.menubar a{
  height: 20px;
  text-decoration: none;
  color: #aaa;

}
.menubar img{
  height: 80%;
  width: auto;
}
