@media all and (max-width: 1100px) {
	.sidebar {
		display: none;
	}
}

@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px); }
}
@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
body { min-width: 320px; }
article > * { width: calc(100% - 40px); }
}

@media only screen and (min-width: 1280px) {
  /* Desktop */
	article > * {margin-left: 300px; margin-right: 200px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
	article img {width: 100%;}
	article p{font-size: 18px;}
	article h1{font-size: 24px;}
	article h2{font-size: 22px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
	article > * {margin-left: 10px; margin-right: 10px;}
	article img {width: 100%;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
```
